const styles=StyleSheet.create({
    container: {
        flex: 1,

        backgroundColor: "#eaeaea",
    }

    ,
    image: {
        flex: 1,
        resizeMode: "repeat",
        justifyContent: "flex-end",
        alignItems: "center",
    }

    ,
    innerText: {
        justifyContent: "center",
    }

    ,
});